<!DOCTYPE html>
<html>
<head>
	<title>Tel-Nav</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="telmap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script type="text/javascript" src='telnav.js'></script>
</head>
<body>
  <div class="logo-image">
            <img src="logotel.png" style="width:100%">
      </div>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About Us</a>
  <a href="#contact">Gallery</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<div class="places">
  <form class="example" action="/action_page.php" style="max-width:300px">
  <input type="text" placeholder="Cari Lokasi.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="places-button">
  <div class="canteen">
      <i class="fas fa-cutlery"></i>
      <span>Kantin</span>
    </div>
    <div class="building">
      <i class="fas fa-city"></i>
      <span>Gedung</span>
    </div>
    <div class="mosque">
      <i class="fas fa-mosque"></i>
      <span>Masjid</span>
    </div>
    <div class="sport">
      <i class="fas fa-dumbbell"></i>
      <span>Sarana Olahraga</span>
    </div>
    <div class="dorm">
      <i class="fas fa-door-closed"></i>
      <span>Asrama</span>
  </div>
</div>
  <div class="maps">
    <img src="telmap.png" alt="Telkom">
  </div>
</body>