<!DOCTYPE html>
<html>
<head>
	<title>Tel-Nav</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="telukm.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script type="text/javascript" src='telnav.js'></script>
</head>
<body>
    <div class="logo-image">
            <img src="logotel.png" style="width:100%">
      </div>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About Us</a>
  <a href="#contact">Gallery</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!-- Side navigation -->
<div class="sidenav">
	<h4>Kategori</h4>
  <a href="#">Seni</a>
  <a href="#">Olahraga</a>
  <a href="#">Daerah</a>
  <a href="#">Lainnya</a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>

<!-- list ukm-->
<div class="ukm">
	<h2>Unit Kegiatan Mahasiswa</h2>
	<div class="list-ukm">
		<div class="ukm1">
  		<img src="day61.jpg" alt="Avatar" style="width:95%; padding: 5px;">
  		<div class="container">
    	<h4><b>John Doe</b></h4> 
    	<p>loremipsum when they are we </p> 
  		</div>
  		</div>
		<div class="ukm2">
  		<img src="day62.jpg" alt="Avatar" style="width:95%; padding: 5px;">
  		<div class="container">
    	<h4><b>John Doe</b></h4> 
   		<p>loremipsum when they are we </p> 
  		</div>
  		</div>
	</div>
</div>

</div>
</body>
</html>